In [1]:
import pandas as pd
import time

from datetime import datetime

In [2]:
df_trans = pd.read_csv("raw_transactions - consolidated.csv")

In [3]:
df_trans

,sno,address,hash_id,from_owner_type,to_owner_type,timestamp,DateTime,amount,amount_usd
0,0,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,d168310f15d80e637a4fd8dc628c266e7240bfdbdf1f71...,unknown,unknown,1616250557,3/20/2021 10:29,0.369710,2.202114e+04
1,1,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,65199337b29a2953222a6e06dab12ad6c18357e4516c38...,unknown,unknown,1614972999,3/5/2021 14:36,0.013143,6.437083e+02
2,2,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,5c7203875e6ee2229b2170a1e0c3def1d52894f7a2bde9...,exchange,exchange,1614949316,3/5/2021 8:01,1043.000000,4.983832e+07
3,3,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,5c7203875e6ee2229b2170a1e0c3def1d52894f7a2bde9...,exchange,unknown,1614949316,3/5/2021 8:01,0.010304,4.923390e+02
4,4,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,5a32f707adc015fcca9c332cef55ee0d6f85710a50399b...,exchange,exchange,1614949316,3/5/2021 8:01,2000.000000,9.556725e+07
...,...,...,...,...,...,...,...,...,...
48493,48493,1MbNM3jwxMjRzeA9xyHbMyePN68MY4Jxb,3c34bb73ee100206cc476a5db549a08db43d535554ebaa...,exchange,unknown,1582451981,2/23/2020 4:59,8.731475,8.649095e+04
48494,48494,1MbNM3jwxMjRzeA9xyHbMyePN68MY4Jxb,313a16c8812e00a3fd076fc0cc66fc33e75ae8170441fe...,exchange,unknown,1582451981,2/23/2020 4:59,1000.000000,9.905651e+06
48495,48495,1MbNM3jwxMjRzeA9xyHbMyePN68MY4Jxb,313a16c8812e00a3fd076fc0cc66fc33e75ae8170441fe...,exchange,unknown,1582451981,2/23/2020 4:59,202.795240,2.008819e+06
48496,48496,1MbNM3jwxMjRzeA9xyHbMyePN68MY4Jxb,2ce4b201a0f2f9ab3c100cdeaa4c1ae71de10a3bfda95f...,exchange,unknown,1582451981,2/23/2020 4:59,1000.000000,9.905651e+06
48497,48497,1MbNM3jwxMjRzeA9xyHbMyePN68MY4Jxb,2ce4b201a0f2f9ab3c100cdeaa4c1ae71de10a3bfda95f...,exchange,unknown,1582451981,2/23/2020 4:59,202.725250,2.008126e+06

In [4]:
#df_trans['trans_date'] = datetime.fromtimestamp(df_trans['timestamp']).apply(lambda x: x.to_datetime64())
df_trans['trans_datetime'] = pd.to_datetime(df_trans['timestamp'], unit='s') #.apply(lambda x: x.to_datetime64())
df_trans

,sno,address,hash_id,from_owner_type,to_owner_type,timestamp,DateTime,amount,amount_usd,trans_datetime
0,0,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,d168310f15d80e637a4fd8dc628c266e7240bfdbdf1f71...,unknown,unknown,1616250557,3/20/2021 10:29,0.369710,2.202114e+04,2021-03-20 14:29:17
1,1,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,65199337b29a2953222a6e06dab12ad6c18357e4516c38...,unknown,unknown,1614972999,3/5/2021 14:36,0.013143,6.437083e+02,2021-03-05 19:36:39
2,2,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,5c7203875e6ee2229b2170a1e0c3def1d52894f7a2bde9...,exchange,exchange,1614949316,3/5/2021 8:01,1043.000000,4.983832e+07,2021-03-05 13:01:56
3,3,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,5c7203875e6ee2229b2170a1e0c3def1d52894f7a2bde9...,exchange,unknown,1614949316,3/5/2021 8:01,0.010304,4.923390e+02,2021-03-05 13:01:56
4,4,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,5a32f707adc015fcca9c332cef55ee0d6f85710a50399b...,exchange,exchange,1614949316,3/5/2021 8:01,2000.000000,9.556725e+07,2021-03-05 13:01:56
...,...,...,...,...,...,...,...,...,...,...
48493,48493,1MbNM3jwxMjRzeA9xyHbMyePN68MY4Jxb,3c34bb73ee100206cc476a5db549a08db43d535554ebaa...,exchange,unknown,1582451981,2/23/2020 4:59,8.731475,8.649095e+04,2020-02-23 09:59:41
48494,48494,1MbNM3jwxMjRzeA9xyHbMyePN68MY4Jxb,313a16c8812e00a3fd076fc0cc66fc33e75ae8170441fe...,exchange,unknown,1582451981,2/23/2020 4:59,1000.000000,9.905651e+06,2020-02-23 09:59:41
48495,48495,1MbNM3jwxMjRzeA9xyHbMyePN68MY4Jxb,313a16c8812e00a3fd076fc0cc66fc33e75ae8170441fe...,exchange,unknown,1582451981,2/23/2020 4:59,202.795240,2.008819e+06,2020-02-23 09:59:41
48496,48496,1MbNM3jwxMjRzeA9xyHbMyePN68MY4Jxb,2ce4b201a0f2f9ab3c100cdeaa4c1ae71de10a3bfda95f...,exchange,unknown,1582451981,2/23/2020 4:59,1000.000000,9.905651e+06,2020-02-23 09:59:41
48497,48497,1MbNM3jwxMjRzeA9xyHbMyePN68MY4Jxb,2ce4b201a0f2f9ab3c100cdeaa4c1ae71de10a3bfda95f...,exchange,unknown,1582451981,2/23/2020 4:59,202.725250,2.008126e+06,2020-02-23 09:59:41

In [5]:
df_market_min = pd.read_csv("MarketData_2017_2021.csv") #BTCUSD_minute.csv")

In [6]:
df_market_min

,Unnamed: 0,Timestamp,Date,Open,High,Low,Close,Volume BTC,Volume USD
0,0,1483228800,2017-01-01 00:00:00,966.34,966.34,966.34,966.34,7.610000,7353.847400
1,1,1483228860,2017-01-01 00:01:00,966.34,966.34,966.34,966.34,7.610000,7353.847400
2,2,1483228920,2017-01-01 00:02:00,966.16,966.37,966.16,966.37,8.087376,7814.876061
3,3,1483228980,2017-01-01 00:03:00,966.16,966.37,966.16,966.37,8.087376,7814.876061
4,4,1483229040,2017-01-01 00:04:00,966.16,966.37,966.16,966.37,8.087376,7814.876061
...,...,...,...,...,...,...,...,...,...
2215093,2215093,1616220720,2021-03-20 06:12:00,58216.69,58216.69,58181.98,58181.98,0.042469,2470.953781
2215094,2215094,1616220780,2021-03-20 06:13:00,58180.84,58184.02,58156.90,58156.90,0.037094,2157.255765
2215095,2215095,1616220840,2021-03-20 06:14:00,58161.93,58161.93,58126.94,58161.72,0.267445,15555.049573
2215096,2215096,1616220900,2021-03-20 06:15:00,58155.17,58225.57,58155.17,58225.57,0.485381,28261.563266
2215097,2215097,1616220960,2021-03-20 06:16:00,58225.57,58225.57,58225.57,58225.57,0.000000,0.000000

In [7]:
df_market_min['market_datetime'] = pd.to_datetime(df_market_min['Timestamp'], unit='s') #.apply(lambda x: x.to_datetime64())

In [8]:
#Create date and hour columns on both datasets

df_trans['trans_date'] = df_trans['trans_datetime'].dt.date
df_trans['trans_hour'] = df_trans['trans_datetime'].dt.hour
#df_trans

df_market_min['trans_date'] = df_market_min['market_datetime'].dt.date
df_market_min['trans_hour'] = df_market_min['market_datetime'].dt.hour
df_market_min

,Unnamed: 0,Timestamp,Date,Open,High,Low,Close,Volume BTC,Volume USD,market_datetime,trans_date,trans_hour
0,0,1483228800,2017-01-01 00:00:00,966.34,966.34,966.34,966.34,7.610000,7353.847400,2017-01-01 00:00:00,2017-01-01,0
1,1,1483228860,2017-01-01 00:01:00,966.34,966.34,966.34,966.34,7.610000,7353.847400,2017-01-01 00:01:00,2017-01-01,0
2,2,1483228920,2017-01-01 00:02:00,966.16,966.37,966.16,966.37,8.087376,7814.876061,2017-01-01 00:02:00,2017-01-01,0
3,3,1483228980,2017-01-01 00:03:00,966.16,966.37,966.16,966.37,8.087376,7814.876061,2017-01-01 00:03:00,2017-01-01,0
4,4,1483229040,2017-01-01 00:04:00,966.16,966.37,966.16,966.37,8.087376,7814.876061,2017-01-01 00:04:00,2017-01-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2215093,2215093,1616220720,2021-03-20 06:12:00,58216.69,58216.69,58181.98,58181.98,0.042469,2470.953781,2021-03-20 06:12:00,2021-03-20,6
2215094,2215094,1616220780,2021-03-20 06:13:00,58180.84,58184.02,58156.90,58156.90,0.037094,2157.255765,2021-03-20 06:13:00,2021-03-20,6
2215095,2215095,1616220840,2021-03-20 06:14:00,58161.93,58161.93,58126.94,58161.72,0.267445,15555.049573,2021-03-20 06:14:00,2021-03-20,6
2215096,2215096,1616220900,2021-03-20 06:15:00,58155.17,58225.57,58155.17,58225.57,0.485381,28261.563266,2021-03-20 06:15:00,2021-03-20,6
2215097,2215097,1616220960,2021-03-20 06:16:00,58225.57,58225.57,58225.57,58225.57,0.000000,0.000000,2021-03-20 06:16:00,2021-03-20,6

In [11]:
#aggregate both the sources to hour level

df_trans_hour = df_trans.groupby (by = ['address', 'hash_id', 'from_owner_type', 'to_owner_type', 'trans_date', 'trans_hour'], as_index=False).sum()
df_trans_hour.drop(['sno', 'timestamp'], axis=1, inplace=True)
df_trans_hour
df_market_hour = df_market_min.groupby (by = ['trans_date', 'trans_hour'], as_index=False).mean()
df_market_hour.drop(['Timestamp'], axis=1, inplace=True)
df_market_hour

,trans_date,trans_hour,Unnamed: 0,Open,High,Low,Close,Volume BTC,Volume USD
0,2017-01-01,0,29.5,966.258000,966.327333,966.038667,966.136333,3.265061,3154.479860
1,2017-01-01,1,89.5,964.218333,964.249000,964.093500,964.123000,4.191705,4040.931042
2,2017-01-01,2,149.5,964.257500,964.272500,964.031667,964.046333,3.425410,3302.232592
3,2017-01-01,3,209.5,963.952833,964.003667,963.826667,963.882667,2.519941,2426.054602
4,2017-01-01,4,269.5,962.824500,962.907333,962.814833,962.879167,2.164020,2082.875165
...,...,...,...,...,...,...,...,...,...
36915,2021-03-20,2,2214870.5,58670.726833,58690.277833,58654.290000,58673.416667,0.575649,33777.270734
36916,2021-03-20,3,2214930.5,58379.345667,58405.222667,58358.860833,58382.346667,0.747993,43655.804028
36917,2021-03-20,4,2214990.5,58393.010500,58411.831500,58372.780167,58394.788000,1.540852,90162.487758
36918,2021-03-20,5,2215050.5,58257.647167,58276.443333,58239.217667,58259.030667,0.520054,30292.763591
36919,2021-03-20,6,2215089.0,58185.372941,58206.230000,58166.314706,58189.799412,0.469687,27320.712220

In [12]:
#test
#df_trans_hour[df_trans_hour['hash_id'] == '00019b61eb77024c59c098f14d57cf373c53053cc652903ebe5dfeaefbfee700']

df_market_hour[df_market_hour['trans_date'] == pd.Timestamp(2021,3,22)]

#min(df_market_hour['trans_date'])

Empty DataFrame
Columns: [trans_date, trans_hour, Unnamed: 0, Open, High, Low, Close, Volume BTC, Volume USD]
Index: []

In [13]:
#Join both the tables
df_trans_market = pd.merge(df_trans_hour, df_market_hour, on =['trans_date', 'trans_hour'], how = 'left')
df_trans_market

,address,hash_id,from_owner_type,to_owner_type,trans_date,trans_hour,amount,amount_usd,Unnamed: 0,Open,High,Low,Close,Volume BTC,Volume USD
0,124YoiaSaUssbBeP5RukbSN9Evc3UJfwPj,01c4f5579eb6fd57343c985b234bf95ef091c5e49b5692...,unknown,exchange,2021-02-07,3,22.398290,8.687228e+05,2155890.5,38810.420667,38837.325167,38788.807000,38816.041667,2.255453,87599.418437
1,124YoiaSaUssbBeP5RukbSN9Evc3UJfwPj,01c4f5579eb6fd57343c985b234bf95ef091c5e49b5692...,unknown,unknown,2021-02-07,3,72.488212,2.811472e+06,2155890.5,38810.420667,38837.325167,38788.807000,38816.041667,2.255453,87599.418437
2,124YoiaSaUssbBeP5RukbSN9Evc3UJfwPj,080283a818fc8336802420a3f07f5435d3436308513979...,unknown,exchange,2021-02-26,2,20.392624,9.588757e+05,2183190.5,47069.511167,47154.301333,47014.263000,47092.321333,5.109936,240821.243529
3,124YoiaSaUssbBeP5RukbSN9Evc3UJfwPj,080283a818fc8336802420a3f07f5435d3436308513979...,unknown,other,2021-02-26,2,0.568228,2.671849e+04,2183190.5,47069.511167,47154.301333,47014.263000,47092.321333,5.109936,240821.243529
4,124YoiaSaUssbBeP5RukbSN9Evc3UJfwPj,080283a818fc8336802420a3f07f5435d3436308513979...,unknown,unknown,2021-02-26,2,61.375575,2.885923e+06,2183190.5,47069.511167,47154.301333,47014.263000,47092.321333,5.109936,240821.243529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11994,bc1qzxddlq3ke6mknyzh949nslx68dl705sgusn40rpw6n...,664ae85c077519e263aef4ba5b7d27e9bd5eb95258f0d7...,exchange,exchange,2021-02-06,12,1.999500,8.101472e+04,2154990.5,40251.408167,40278.471667,40221.059333,40248.008000,4.168324,167634.211251
11995,bc1qzxddlq3ke6mknyzh949nslx68dl705sgusn40rpw6n...,664ae85c077519e263aef4ba5b7d27e9bd5eb95258f0d7...,exchange,unknown,2021-02-06,12,300.000000,1.215525e+07,2154990.5,40251.408167,40278.471667,40221.059333,40248.008000,4.168324,167634.211251
11996,bc1qzxddlq3ke6mknyzh949nslx68dl705sgusn40rpw6n...,b7f392cdfd5126840439176cd0feb9e0a22b5079e3691a...,exchange,unknown,2021-02-04,8,200.005211,7.623102e+06,2151870.5,38272.980000,38315.501333,38220.881667,38267.485833,17.534389,669760.724745
11997,bc1qzxddlq3ke6mknyzh949nslx68dl705sgusn40rpw6n...,c1e69b1fe21475d193fbc1698e8a9dc4e1b4af5a9908f3...,exchange,unknown,2021-01-13,11,6491.994600,2.247863e+08,2120370.5,34723.613000,34768.312500,34668.907500,34714.357167,8.798862,305513.126745
11998,bc1qzxddlq3ke6mknyzh949nslx68dl705sgusn40rpw6n...,e179f4e4bdf613c85315fb050e9a5116c15d60c6ead5a7...,exchange,unknown,2021-02-07,6,250.000000,9.636960e+06,2156070.5,38574.772667,38594.557167,38552.442667,38570.163667,2.317178,89394.422600

In [14]:
#df_trans_market.isnull(df_trans_market['open'])
df_trans_market[df_trans_market['Open'].isnull()]

,address,hash_id,from_owner_type,to_owner_type,trans_date,trans_hour,amount,amount_usd,Unnamed: 0,Open,High,Low,Close,Volume BTC,Volume USD
48,124YoiaSaUssbBeP5RukbSN9Evc3UJfwPj,755e6e39722cf153cb73b9a8165391bdc079dc573874bf...,unknown,exchange,2021-03-22,2,21.118837,1.204344e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,124YoiaSaUssbBeP5RukbSN9Evc3UJfwPj,755e6e39722cf153cb73b9a8165391bdc079dc573874bf...,unknown,unknown,2021-03-22,2,75.683950,4.316028e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,124YoiaSaUssbBeP5RukbSN9Evc3UJfwPj,88987abfe7419855ab84448837ecbd57fc0928e57d8848...,unknown,exchange,2021-03-24,2,21.783909,1.189627e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,124YoiaSaUssbBeP5RukbSN9Evc3UJfwPj,88987abfe7419855ab84448837ecbd57fc0928e57d8848...,unknown,unknown,2021-03-24,2,73.485386,4.013062e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,124YoiaSaUssbBeP5RukbSN9Evc3UJfwPj,93fe24faceeb5b999c12f73605118520b2f51cbf13d26c...,unknown,exchange,2021-03-21,2,23.335490,1.350941e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,bc1qzk2pyxtahg64cx6gyq02vrw65fdxtpr253r4ygww9n...,fcb9eaa34896264caa725e66fec9f28ed6feb930a36f88...,exchange,exchange,2021-03-21,11,0.157500,8.858204e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11986,bc1qzk2pyxtahg64cx6gyq02vrw65fdxtpr253r4ygww9n...,fcb9eaa34896264caa725e66fec9f28ed6feb930a36f88...,exchange,unknown,2021-03-21,11,12.000000,6.749108e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11987,bc1qzk2pyxtahg64cx6gyq02vrw65fdxtpr253r4ygww9n...,fe513fe60a3e67d04b702b6b7ffa47e57579278dcc5279...,exchange,unknown,2021-03-22,22,8.000000,4.375122e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11988,bc1qzk2pyxtahg64cx6gyq02vrw65fdxtpr253r4ygww9n...,fe5ac6e5c032802ba1b0a50b6ed03e51c3a2b6f73eb2a1...,exchange,exchange,2021-03-23,7,55.999600,2.997572e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11989,bc1qzk2pyxtahg64cx6gyq02vrw65fdxtpr253r4ygww9n...,fe5ac6e5c032802ba1b0a50b6ed03e51c3a2b6f73eb2a1...,exchange,unknown,2021-03-23,7,44.000000,2.355252e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_trans_market.to_csv('trans_market.csv', sep=',', encoding='utf-8')