In [1]:
import datetime as dt
import os
import numpy as np
import pandas as pd
#from util import get_data, plot_data
import matplotlib.pyplot as plt

In [3]:
if __name__ == "__main__":

    df2021 = pd.read_csv("bitstampUSD_1-min_data_2012-01-01_to_2021-03.csv")

# RunIndicators()

In [4]:
df2021

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
0,1616220960,2021-03-20 06:16:00,BTC/USD,58225.57,58225.57,58225.57,58225.57,0.000000,0.000000
1,1616220900,2021-03-20 06:15:00,BTC/USD,58155.17,58225.57,58155.17,58225.57,0.485381,28261.563266
2,1616220840,2021-03-20 06:14:00,BTC/USD,58161.93,58161.93,58126.94,58161.72,0.267445,15555.049573
3,1616220780,2021-03-20 06:13:00,BTC/USD,58180.84,58184.02,58156.90,58156.90,0.037094,2157.255765
4,1616220720,2021-03-20 06:12:00,BTC/USD,58216.69,58216.69,58181.98,58181.98,0.042469,2470.953781
...,...,...,...,...,...,...,...,...,...
130498,1606032060,2020-11-22 08:01:00,BTC/USD,18493.49,18512.82,18493.49,18512.82,1.200447,22223.664414
130499,1606032000,2020-11-22 08:00:00,BTC/USD,18511.86,18519.25,18494.31,18494.31,3.089814,57143.974629
130500,1606031940,2020-11-22 07:59:00,BTC/USD,18521.33,18527.41,18511.13,18520.98,4.143530,76742.234037
130501,1606031880,2020-11-22 07:58:00,BTC/USD,18504.96,18517.30,18504.57,18517.30,1.535443,28432.253479
130502,1606031820,2020-11-22 07:57:00,BTC/USD,18494.17,18511.57,18485.07,18511.57,1.471611,27241.827263

In [10]:
df2021 = df2021.drop(["symbol"], axis=1)

In [13]:
df2021 = df2021.rename(columns={"unix": "Timestamp", "open": "Open","high":"High", "low":"Low","close":"Close","date":"Date"})

In [14]:
df2021

,Timestamp,Date,Open,High,Low,Close,Volume BTC,Volume USD
0,1616220960,2021-03-20 06:16:00,58225.57,58225.57,58225.57,58225.57,0.000000,0.000000
1,1616220900,2021-03-20 06:15:00,58155.17,58225.57,58155.17,58225.57,0.485381,28261.563266
2,1616220840,2021-03-20 06:14:00,58161.93,58161.93,58126.94,58161.72,0.267445,15555.049573
3,1616220780,2021-03-20 06:13:00,58180.84,58184.02,58156.90,58156.90,0.037094,2157.255765
4,1616220720,2021-03-20 06:12:00,58216.69,58216.69,58181.98,58181.98,0.042469,2470.953781
...,...,...,...,...,...,...,...,...
130498,1606032060,2020-11-22 08:01:00,18493.49,18512.82,18493.49,18512.82,1.200447,22223.664414
130499,1606032000,2020-11-22 08:00:00,18511.86,18519.25,18494.31,18494.31,3.089814,57143.974629
130500,1606031940,2020-11-22 07:59:00,18521.33,18527.41,18511.13,18520.98,4.143530,76742.234037
130501,1606031880,2020-11-22 07:58:00,18504.96,18517.30,18504.57,18517.30,1.535443,28432.253479
130502,1606031820,2020-11-22 07:57:00,18494.17,18511.57,18485.07,18511.57,1.471611,27241.827263

In [7]:
df2021 = df2021.drop(df2021.columns[[0]], axis = 1)

In [8]:
df2021

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,Date
0,1483228800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-01 00:00:00
1,1483228860,966.34,966.34,966.34,966.34,7.610000,7353.847400,966.340000,2017-01-01 00:01:00
2,1483228920,966.16,966.37,966.16,966.37,8.087376,7814.876061,966.305479,2017-01-01 00:02:00
3,1483228980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-01 00:03:00
4,1483229040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-01 00:04:00
...,...,...,...,...,...,...,...,...,...
2102396,1609372560,28801.47,28829.42,28785.64,28829.42,0.965221,27804.572129,28806.429798,2020-12-30 23:56:00
2102397,1609372620,28829.42,28863.90,28829.42,28857.06,2.368831,68332.350629,28846.441863,2020-12-30 23:57:00
2102398,1609372680,28850.49,28900.52,28850.49,28882.82,2.466590,71232.784464,28879.056266,2020-12-30 23:58:00
2102399,1609372740,28910.54,28911.52,28867.60,28881.30,7.332773,211870.912660,28893.695831,2020-12-30 23:59:00
2102400,1609372800,28893.21,28928.49,28893.21,28928.49,5.757679,166449.709320,28909.166061,2020-12-31 00:00:00

In [15]:
df2021 = df2021.rename(columns={"Volume_(BTC)": "Volume BTC", "Volume_(Currency)": "Volume USD"})
df2021 = df2021.drop(["Weighted_Price"], axis=1)

In [17]:
df2021 = df2021[["Timestamp", "Date", "Open", "High", "Low", "Close", "Volume BTC", "Volume USD"]]

In [18]:
df2021

,Timestamp,Date,Open,High,Low,Close,Volume BTC,Volume USD
0,1483228800,2017-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,1483228860,2017-01-01 00:01:00,966.34,966.34,966.34,966.34,7.610000,7353.847400
2,1483228920,2017-01-01 00:02:00,966.16,966.37,966.16,966.37,8.087376,7814.876061
3,1483228980,2017-01-01 00:03:00,NaN,NaN,NaN,NaN,NaN,NaN
4,1483229040,2017-01-01 00:04:00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2102396,1609372560,2020-12-30 23:56:00,28801.47,28829.42,28785.64,28829.42,0.965221,27804.572129
2102397,1609372620,2020-12-30 23:57:00,28829.42,28863.90,28829.42,28857.06,2.368831,68332.350629
2102398,1609372680,2020-12-30 23:58:00,28850.49,28900.52,28850.49,28882.82,2.466590,71232.784464
2102399,1609372740,2020-12-30 23:59:00,28910.54,28911.52,28867.60,28881.30,7.332773,211870.912660
2102400,1609372800,2020-12-31 00:00:00,28893.21,28928.49,28893.21,28928.49,5.757679,166449.709320

In [19]:
df2021

,Timestamp,Date,Open,High,Low,Close,Volume BTC,Volume USD
0,1616220960,2021-03-20 06:16:00,58225.57,58225.57,58225.57,58225.57,0.000000,0.000000
1,1616220900,2021-03-20 06:15:00,58155.17,58225.57,58155.17,58225.57,0.485381,28261.563266
2,1616220840,2021-03-20 06:14:00,58161.93,58161.93,58126.94,58161.72,0.267445,15555.049573
3,1616220780,2021-03-20 06:13:00,58180.84,58184.02,58156.90,58156.90,0.037094,2157.255765
4,1616220720,2021-03-20 06:12:00,58216.69,58216.69,58181.98,58181.98,0.042469,2470.953781
...,...,...,...,...,...,...,...,...
130498,1606032060,2020-11-22 08:01:00,18493.49,18512.82,18493.49,18512.82,1.200447,22223.664414
130499,1606032000,2020-11-22 08:00:00,18511.86,18519.25,18494.31,18494.31,3.089814,57143.974629
130500,1606031940,2020-11-22 07:59:00,18521.33,18527.41,18511.13,18520.98,4.143530,76742.234037
130501,1606031880,2020-11-22 07:58:00,18504.96,18517.30,18504.57,18517.30,1.535443,28432.253479
130502,1606031820,2020-11-22 07:57:00,18494.17,18511.57,18485.07,18511.57,1.471611,27241.827263

In [21]:
df2021_reversed = df2021.iloc[::-1]

In [22]:
df2021_reversed

,Timestamp,Date,Open,High,Low,Close,Volume BTC,Volume USD
130502,1606031820,2020-11-22 07:57:00,18494.17,18511.57,18485.07,18511.57,1.471611,27241.827263
130501,1606031880,2020-11-22 07:58:00,18504.96,18517.30,18504.57,18517.30,1.535443,28432.253479
130500,1606031940,2020-11-22 07:59:00,18521.33,18527.41,18511.13,18520.98,4.143530,76742.234037
130499,1606032000,2020-11-22 08:00:00,18511.86,18519.25,18494.31,18494.31,3.089814,57143.974629
130498,1606032060,2020-11-22 08:01:00,18493.49,18512.82,18493.49,18512.82,1.200447,22223.664414
...,...,...,...,...,...,...,...,...
4,1616220720,2021-03-20 06:12:00,58216.69,58216.69,58181.98,58181.98,0.042469,2470.953781
3,1616220780,2021-03-20 06:13:00,58180.84,58184.02,58156.90,58156.90,0.037094,2157.255765
2,1616220840,2021-03-20 06:14:00,58161.93,58161.93,58126.94,58161.72,0.267445,15555.049573
1,1616220900,2021-03-20 06:15:00,58155.17,58225.57,58155.17,58225.57,0.485381,28261.563266
0,1616220960,2021-03-20 06:16:00,58225.57,58225.57,58225.57,58225.57,0.000000,0.000000

In [27]:
df2021_reversed=df2021_reversed.reset_index(drop=True)

In [28]:
print(df2021_reversed[df2021_reversed["Date"]=="2021-01-01 00:00:00"].index.values)

[17806]

In [29]:
df2021_new = df2021_reversed.iloc[17806:,:]

In [30]:
df2021_new

,Timestamp,Date,Open,High,Low,Close,Volume BTC,Volume USD
17806,1609459200,2021-01-01 00:00:00,28999.63,29022.01,28999.14,29006.31,0.861580,24991.244387
17807,1609459260,2021-01-01 00:01:00,29007.31,29086.90,29007.31,29083.47,14.561951,423512.060397
17808,1609459320,2021-01-01 00:02:00,29069.80,29073.02,29028.14,29035.89,3.030301,87987.499279
17809,1609459380,2021-01-01 00:03:00,29037.68,29069.39,29019.00,29048.13,2.189621,63604.382387
17810,1609459440,2021-01-01 00:04:00,29048.13,29057.73,29035.61,29045.19,1.446538,42014.959434
...,...,...,...,...,...,...,...,...
130498,1616220720,2021-03-20 06:12:00,58216.69,58216.69,58181.98,58181.98,0.042469,2470.953781
130499,1616220780,2021-03-20 06:13:00,58180.84,58184.02,58156.90,58156.90,0.037094,2157.255765
130500,1616220840,2021-03-20 06:14:00,58161.93,58161.93,58126.94,58161.72,0.267445,15555.049573
130501,1616220900,2021-03-20 06:15:00,58155.17,58225.57,58155.17,58225.57,0.485381,28261.563266
130502,1616220960,2021-03-20 06:16:00,58225.57,58225.57,58225.57,58225.57,0.000000,0.000000

In [5]:
MarketData.to_csv("MarketData_2017_2021.csv")